
local Library = loadstring(game:HttpGet("https://raw.githubusercontent.com/xHeptc/Kavo-UI-Library/main/source.lua"))()
local Window = Library.CreateLib("TWOG/TWEG Private", "Midnight")

-- Main
local Main = Window:NewTab("Main")
local MainSection = Main:NewSection("Main")


MainSection:NewButton("inf hp the world", "it will make the world the hp infinite", function()
    local args = {
    [1] = "HydraStand",
    [2] = 0,
    [3] = math.huge
}

game:GetService("ReplicatedStorage").Stand:FireServer(unpack(args))
end)

MainSection:NewKeybind("T", "it will throw sonic rings", Enum.KeyCode.T, function()
	game:GetService("ReplicatedStorage").SonicRing:FireServer()

end)

MainSection:NewButton("Infinite Yield", "incase if you need remote spy", function()
loadstring(game:HttpGet('https://raw.githubusercontent.com/EdgeIY/infiniteyield/master/source'))()

end)

MainSection:NewKeybind("Resume Time ", "Incase you need to resume inf ts", Enum.KeyCode.Y, function()
	game:GetService("ReplicatedStorage").RTZEffect:FireServer()
end)

MainSection:NewButton("Admin Gui", "this admin gui can almost get all the stand's in old aut", function()
    game.Players.LocalPlayer.PlayerGui.AdminGUI.Enabled = true
end)

MainSection:NewKeybind("Timestop", "Work's", Enum.KeyCode.F, function()
	local args = {
		[1] = 0/0,
		[2] = "Vern"
	}
	
	game:GetService("ReplicatedStorage").Timestop:FireServer(unpack(args))
	
end)

MainSection:NewButton("TWEG", "The World Equal God", function()
	game:GetService("ReplicatedStorage").VernsSamuraiSword:FireServer()

	game:GetService("ReplicatedStorage").Stand:FireServer("KingCrimsonRequiemStand",50,math.huge)

	game:GetService("ReplicatedStorage").Stand:FireServer("GoldExperienceRequiemStand",50,math.huge)

	game:GetService("ReplicatedStorage").SuperShadow:FireServer()

	game:GetService("ReplicatedStorage").KarsULF:FireServer()

	game:GetService("ReplicatedStorage").Stand:FireServer("MIUStand",50,math.huge)

	game:GetService("ReplicatedStorage").Stand:FireServer("HeavenStarPlatinum",50,math.huge)

	game:GetService("ReplicatedStorage").Stand:FireServer("KnightPotStand",50,math.huge,"\226\153\146\226\153\142\226\153\136\226\153\138\226\153\147\226\153\136\226\153\137\226\153\136\226\153\136\226\153\138")

	game:GetService("ReplicatedStorage").Stand:FireServer("PartyPotPlatinum",50,math.huge)

	game:GetService("ReplicatedStorage").Stand:FireServer("HolyPotPlatinumStand",50,math.huge)

	game:GetService("ReplicatedStorage").Stand:FireServer("VirtualShadowTheWorldStand",50,math.huge"\226\153\144\226\153\145\226\153\138\226\153\139\226\153\138\226\153\147\226\153\139\226\153\142\226")

  game:GetService("ReplicatedStorage").OneMoreTime:FireServer()

end)

MainSection:NewButton("HPPBE", "Holy Pot Platinum But Evil", function()
	game:GetService("ReplicatedStorage").Stand:FireServer("KnightPotStand",50,math.huge,"\226\153\146\226\153\142\226\153\136\226\153\138\226\153\147\226\153\136\226\153\137\226\153\136\226\153\136\226\153\138")

	game:GetService("ReplicatedStorage").Samurai:FireServer()

	game:GetService("ReplicatedStorage").OneMoreSacrifice:FireServer()
end)

MainSection:NewButton("KPBG", "Knight Pot But Good", function()
    game:GetService("ReplicatedStorage").Stand:FireServer("HolyPotPlatinumStand",50,math.huge)

	game:GetService("ReplicatedStorage").Stand:FireServer("GoldExperienceRequiemStand",50,math.huge)

	game:GetService("ReplicatedStorage").VernsSamuraiSword:FireServer()

	game:GetService("ReplicatedStorage").OneMoreTime:FireServer()
end)

MainSection:NewButton("HGBM", "Hieprohant Green But Meme", function()
	game:GetService("ReplicatedStorage").Stand:FireServer("MemeHierophantStand",50,math.huge)

	game:GetService("ReplicatedStorage").Stand:FireServer("wtfStand",50,math.huge)

	game:GetService("ReplicatedStorage").Stand:FireServer("MIUStand",50,math.huge)

	game:GetService("ReplicatedStorage").DRIPGOKU:FireServer()

end)

MainSection:NewButton("skins", "this is private", function()
    game:GetService("ReplicatedStorage").Samurai:FireServer()

	game:GetService("ReplicatedStorage").VernsSamuraiSword:FireServer()

	game:GetService("ReplicatedStorage").Chara:FireServer()

	game:GetService("ReplicatedStorage").Stand:FireServer("HolyPotPlatinumStand",50,math.huge)

	game:GetService("ReplicatedStorage").Stand:FireServer("KnightPotStand",50,math.huge,"\226\153\146\226\153\142\226\153\136\226\153\138\226\153\147\226\153\136\226\153\137\226\153\136\226\153\136\226\153\138")

	game:GetService("ReplicatedStorage").Stand:FireServer("KingCrimsonRequiemStand",50,math.huge)

	game:GetService("ReplicatedStorage").Stand:FireServer("GoldExperienceRequiemStand",50,math.huge)

	game:GetService("ReplicatedStorage").MUI:FireServer()

	game:GetService("ReplicatedStorage").MUIAnims:FireServer()

	game:GetService("ReplicatedStorage").DRIPGOKU:FireServer()

	game:GetService("ReplicatedStorage").OneMoreTime:FireServer()

	game:GetService("ReplicatedStorage").OneMoreSacrifice:FireServer()

	game:GetService("ReplicatedStorage").OneMoreBeatboxer:FireServer()

	game:GetService("ReplicatedStorage").KarsULF:FireServer()

	game:GetService("ReplicatedStorage").Kars:FireServer()

	game:GetService("ReplicatedStorage").Stand:FireServer("StevePlatinum",50,math.huge)

	game:GetService("ReplicatedStorage").Stand:FireServer("MemeHierophantStand",50,math.huge)

	game:GetService("ReplicatedStorage").Stand:FireServer("wtfStand",50,math.huge)

	game:GetService("ReplicatedStorage").Stand:FireServer("MIUStand",50,math.huge)

	game:GetService("ReplicatedStorage").Stand:FireServer("PartyPotPlatinum",50,math.huge)

	game:GetService("ReplicatedStorage").Stand:FireServer("VirtualShadowTheWorldStand",50,math.huge"\226\153\144\226\153\145\226\153\138\226\153\139\226\153\138\226\153\147\226\153\139\226\153\142\226")

	game:GetService("ReplicatedStorage").SuperShadow:FireServer()

	game:GetService("ReplicatedStorage").Sword:FireServer()
    
	game:GetService("ReplicatedStorage").Stand:FireServer("HierophantGreenStand",50,math.huge)
end)

MainSection:NewButton("TWOG", "I think so", function()
    game:GetService("ReplicatedStorage").Stand:FireServer("PartyPotPlatinum",50,math.huge)

    game:GetService("ReplicatedStorage").Stand:FireServer("VirtualShadowTheWorldStand",50,math.huge,"\226\153\138\226\153\137\226\153\143\226\153\138\226\153\143\226\153\147\226\153\143\226\153\144\226\153\140\226\153\140")

    game:GetService("ReplicatedStorage").Stand:FireServer("HolyPotPlatinumStand",50,math.huge)

    game:GetService("ReplicatedStorage").Stand:FireServer("GoldExperienceRequiemStand",50,math.huge)

    game:GetService("ReplicatedStorage").Stand:FireServer("KingCrimsonRequiemStand",50,math.huge)

    game:GetService("ReplicatedStorage").Stand:FireServer("KnightPotStand",50,math.huge,"\226\153\146\226\153\142\226\153\136\226\153\138\226\153\147\226\153\136\226\153\137\226\153\136\226\153\136\226\153\138")

    game:GetService("ReplicatedStorage").Stand:FireServer("MIUStand",5,math.huge)

    game:GetService("ReplicatedStorage").Stand:FireServer("HeavenStarPlatinum",50,math.huge)

    game:GetService("ReplicatedStorage").Stand:FireServer("StevePlatinum",50,math.huge)

    game:GetService("ReplicatedStorage").OneMoreTime:FireServer()
end)

MainSection:NewButton("Rd2's skin", "My Friend's skin", function()
    game:GetService("ReplicatedStorage").Samurai:FireServer()

	game:GetService("ReplicatedStorage").Stand:FireServer("KingCrimsonRequiemStand",50,math.huge)

	game:GetService("ReplicatedStorage").Stand:FireServer("GoldExperienceRequiemStand",50,math.huge)

	game:GetService("ReplicatedStorage").DRIPGOKU:FireServer()

	game:GetService("ReplicatedStorage").SuperShadow:FireServer()

	game:GetService("ReplicatedStorage").Kars:FireServer()

end)

--Local Player
local Player = Window:NewTab("Player")
local PlayerSection = Player:NewSection("Player")

PlayerSection:NewSlider("Walkspeed", "more faster", 500, 16, function(s) -- 500 (MaxValue) | 0 (MinValue)
    game.Players.LocalPlayer.Character.Humanoid.WalkSpeed = s
end)

PlayerSection:NewButton("Infjump", "Jump inf", function()
 loadstring(game:HttpGet("https://raw.githubusercontent.com/Cylex234/Old-aut-gui-1/main/Inf%20jump", true))()
end)

--Others
local Others = Window:NewTab("Others")
local OthersSection = Others:NewSection("Others")

OthersSection:NewButton("secret spec/stand", "don't leak this...", function()
  loadstring(game:HttpGet("https://gist.githubusercontent.com/DragonixGaming/30386d8041e29035b9866f75ef22e353/raw/cf285e5d478d0f8fab706ed2df64964794bfd77e/Well%2520Lets%2520See", true))()
end)

OthersSection:NewButton("No cd ring", "This script can hold the keybind T aka no cd", function()
	    local Key = "T"
local Toggle = false
--[[

    For symbols, put the name of the symbol, with uppercase starting letters.
    So for example, Semicolon, LessThan, Equals, Minus, Underscore, RightBracket, LeftControl
    all those would work
    Check out https://developer.roblox.com/en-us/api-reference/enum/KeyCode for a list of names that'll work

--]]

game:GetService("UserInputService").InputBegan:Connect(function(keyobject, stuffhappening)
    if keyobject.KeyCode == Enum.KeyCode[Key] and not stuffhappening then 
        Toggle = true
    end
end)

game:GetService("UserInputService").InputEnded:Connect(function(keyobject, stuffhappening)
    if keyobject.KeyCode == Enum.KeyCode[Key] and not stuffhappening then 
        Toggle = false
    end
	game:GetService('RunService').Stepped:connect(function()
		if Toggle then
			game:GetService("ReplicatedStorage").SonicRing:FireServer()
			wait(1)
		end
	end)
	end)
	
end)

OthersSection:NewButton("kill Gui", "Kill Gui Script", function()
loadstring(game:HttpGet("https://raw.githubusercontent.com/Cylex234/Old-aut-gui-1/main/Kill%20gui",true))()
end)

OthersSection:NewButton("Walk in Timestop", "It will let you walk in time stop", function()
    local BlockedRemotes = {
		"Anchor",
	}
	
	local Events = {
		Fire = true, 
		Invoke = true, 
		FireServer = true, 
		InvokeServer = true,
	}
	
	local gameMeta = getrawmetatable(game)
	local psuedoEnv = {
		["__index"] = gameMeta.__index,
		["__namecall"] = gameMeta.__namecall;
	}
	setreadonly(gameMeta, false)
	gameMeta.__index, gameMeta.__namecall = newcclosure(function(self, index, ...)
		if Events[index] then
			for i,v in pairs(BlockedRemotes) do
				if v == self.Name and not checkcaller() then return nil end
			end
		end
		return psuedoEnv.__index(self, index, ...)
	end)
	setreadonly(gameMeta, true)
	wait(0.1)
end)

--Settings
local Settings = Window:NewTab("Settings")
local SettingsSection = Settings:NewSection("Settings")

SettingsSection:NewKeybind("Close/pop up Gui", "This Will Let You Close And Open This Gui", Enum.KeyCode.P, function()
	Library:ToggleUI()
end)
